body{
  font-family: Arial;

}
.todo-grid,.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  align-items: center;
  column-gap: 15px;
  row-gap: 20px;
}
.todo-input-grid{
  margin-top: 10px;
  margin-bottom: 10px; 
  
}
.date-input,.name-input{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 6px;
}
.add-button{
  font-size: 15px;
  border: none;
  padding: 15px 35px;
  background-color: green;
  color: white;
  cursor: pointer;
 
}
.delete-button{

  background-color: darkred;
  color: white;
  font-size: 15px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}


